
.contact_container {
    background: var(--color-bg1);
    padding: 4rem;
    margin: 7rem auto;
    border-radius: 1rem;
    text-align: center;
    align-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

form input[type="text"] {
    width: 50%;
}

.form_name {
    display: flex;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
}

.btn {
    width: max-content;
    margin: 1rem auto;
    cursor: pointer;
}

